[submodule "bayesian_machine_learning_in_python_ab_testing"]
	path = bayesian_machine_learning_in_python_ab_testing
	url = /Users/kai/workspace/udemy.git/bayesian_machine_learning_in_python_ab_testing
